fastapi
uvicorn[standard]

sqlalchemy
alembic
asyncpg

pydantic
pydantic-settings
python-dotenv

passlib[bcrypt]
python-jose[cryptography]
bcrypt<5

email-validator
python-multipart

httpx

pytest
pytest-asyncio

greenlet
